/.pnp
.pnp.js
/coverage
/.next/
/out/
/build
.env.local
.env.development.local
.env.test.local
.env.production.local
.vercel
node_modules
.DS_Store
*.pem
*.log
.idea
sidekick-error-*.json
*.dist.js
*.tsbuildinfo
